@(beerbrands: Seq[BeerBrand])

@main("Beer DB") {

	<table class="table table-striped" ng-controller="BeerListCtrl">
		<thead>
		<tr><th>Name</th><th>Country</th><th>Style</th><th>Strength</th><th>Created</th><th>Updated</th></tr>
		</thead>
		<tbody>
		<tr ng-repeat="beer in beers">
			<td>{{beer.name}}</td>
			<td>{{beer.country}}</td>
			<td>{{beer.style}}</td>
			<td>{{beer.strength}}%</td>
			<td>{{beer.createdAt | date:'short'}}</td>
			<td>{{beer.updatedAt | date:'short'}}</td>
		</tr>
		</tbody>
	</table>
}
