@(columns: Seq[play.ball.ColumnBase])(implicit flash: Flash)

@main("Model Dump") {
	<form class="form-horizontal" role="form" action="/test" method="post">
	@for(column <- columns) {
		<div class="form-group">
		    <label for="@column.name" class="col-sm-2 control-label">@column.label</label>
		    <div class="col-sm-6">
	    	@column match {
	    	case play.ball.StringColumn(_, _, _) => {
	    		<input type="text" class="form-control" name="@column.name" id="@column.name" placeholder="@column.label">
	    	}
	    	case play.ball.BooleanColumn(_, _, _) => {
		    	<input type="checkbox" class="form-control" name="@column.name" id="@column.name"></input>
	    	}
	    	case play.ball.ShortColumn(_, _, _) => {
		    	<input type="text" class="form-control" name="@column.name" id="@column.name" placeholder="@column.label"></input>
	    	}
	    	case play.ball.IntColumn(_, _, _) => {
		    	<input type="text" class="form-control" name="@column.name" id="@column.name" placeholder="@column.label"></input>
	    	}
	    	case play.ball.LongColumn(_, _, _) => {
		    	<input type="text" class="form-control" name="@column.name" id="@column.name" placeholder="@column.label"></input>
	    	}
	    	case play.ball.DoubleColumn(_, _, _) => {
		    	<input type="text" class="form-control" name="@column.name" id="@column.name" placeholder="@column.label"></input>
	    	}
	    	case play.ball.FloatColumn(_, _, _) => {
		    	<input type="text" class="form-control" name="@column.name" id="@column.name" placeholder="@column.label"></input>
	    	}
	    	case play.ball.OptionColumn(_, _, _, options) => {
				<select class="form-control" name="@column.name" id="@column.name">
				@for((s, _) <- options) {
					<option>@s</option>
				}
				</select>
	    	}
	    	case play.ball.DateTimeColumn(_, _, _) => {
				<div class="input-group date-control"  name="@column.name" id="@column.name">
					<input type="text" class="form-control" />
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
	    	}
	    	case play.ball.InvalidColumn(_, _, _) => {
	    	}
	    	}
		    </div>
		</div>
	}
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary">保存</button>
			</div>
		</div>
	</form>

	<script>
	$(function () {
		$('.date-control').datetimepicker({
            language: 'ja'
		});
	});
	</script>
}
